body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif
 }
#container{
    width: 100%;
    height: 630px;
    /* border: 1px solid red; */
    background-color: #B0A16E;
}
#container ul{
    color: white;
}
#cust{
    font-size: 30px;
}
#innerdiv{
    width: 60%;
    height: 50px;
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 22%; 
    display: flex;
}
#innerdiv1{
    /* width: 50px;
    height: 45px;
    border: 1px solid blue;
    margin-top: 0%; */
    display: flex;
}
#about{
    font-size: 25px;
}
#leftside{
    margin-left: 30%;
    margin-top: -28%;
}
#input_box{
    width: 30%;
    height: 180px;
    /* border: 1px solid black; */
    margin-left: 60%;
    margin-top: -34%;
}
#container p{
    color: white;
    font-size: 25px;
    padding: 5px;
    margin-top: -1%;
}
#input_box1 {
    width: 200px;
    height: 50px;
    /* border: 1px blue solid; */
    margin-left: 35%;
    margin-top: -15%;
    /* text-align: center; */
    justify-content: space-between

}
#container i{
    color: white;
    margin-top: 10%;
}
#img1{
    /* border: 1px solid black; */
    width: 25%;
    height: 50px;
    display: flex;
}
#img2{
    /* border: 1px solid black; */
    width: 25%;
    height: 50px;
    margin-left: 10px;
    

}
#putlogo{
    display: flex;
}
#ptag{
    display: flex;

}
#ptag1{
      /* border: 1px solid black; */
      margin-top: 10%;
}
#container h4{
    color: white;
}

